* {
  font-family: "Roboto Mono";
  font-size: 10px;
  color: #e5e9f0;
  padding: 0 4px;
  background: transparent;
}

#tags button.focused {
  background: #2e3440;
  border-bottom: 3px solid;
  border-bottom-color: #e5e9f0;
}

#waybar {
  background: #000000;
}

#battery.low {
  color: #bf616a;
}

#battery.warning {
  color: #d08770;
}

#battery.good, #battery.full {
  color: #a3be8c;
}
